@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 10px solid blue;
}

.row {
  width: 100%;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 30px;
  text-decoration: none;
}
.block {
  width: 100px;
  text-decoration: none;
}

h1 {
  position: relative;
  font-family: "Roboto Mono", sans-serif;
  font-size: 5em;
  font-weight: 300;
}

.header {
  display: flex;
  min-height: 10vh;
  padding: 8px 50px;
  background-color: #fff;
}

hr {
  margin: 20px; 
}

p {
  position: relative;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1em;
  font-weight: 50;
  margin:25px;
}

.indataarea {
  margin:40px;
  margin-left: 360px;
}

button {
  margin-left:605px;
  margin-bottom: 40px;
}

footer {
  position: relative;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.9em;
  margin:23px;
  margin-left: 603px;
  color:grey;
}